* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #FAFAFA;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: auto;
  background-color: #000000;
}

section.lets-talk {
  background-color: #98AAB1;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h4 {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.5rem;
  color: #4F4F4F;
  margin: 6rem auto 2rem auto;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #000000;
  padding-bottom: 4rem;
}

.contact-details {
  font-family: 'Yantramanav', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 15%;
  color: #4F4F4F;
  width: 65%;
  margin: auto;
}


.flex-grid-seconds {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 20rem 10rem 20rem;
}

.col-seconds.text {
  display: grid;
  height:auto;
  padding: 0 6.5rem;
  width: 50%;
}

.col-seconds.image{
  display: grid;
  margin: auto;
  margin-top: 0;
  height:auto;
  width: 50%;
}

.col-seconds.text:first-child {
  background-color: #E1E4E6;
}

img  {
  width: 100%;
  height: auto;
  margin: auto;
}


/* Main Navigation */
.main-nav {
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(103, 113, 117, 0.15) 100%), rgba(17, 35, 48, 0.15);
  mix-blend-mode: normal;
}

.main-nav li:first-child {
  margin-right: auto;
}

.main-nav a {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  letter-spacing: 0.20em;
  color: #FFFFFF;
	display: block;
	text-decoration: none;
  margin-right: 4rem;
}

.main-nav li {
  list-style: none;
}

a:hover {
  color: #D6A67F;
}

.logo {
  margin-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main a {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.20em;
  color: #FFFFFF;
	display: block;
	text-decoration: none;
  margin-right: 4rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  right: 0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  letter-spacing: 0.20em;
  color: #FFFFFF;
}

.sidenav a:hover {
  color: #D6A67F;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main li {
  list-style: none;
}

#main {
  transition: margin-left .5s;
  padding: 1.6rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(103, 113, 117, 0.15) 100%), rgba(17, 35, 48, 0.15);
  mix-blend-mode: normal;
}

#main span {
  float: right;
  text-decoration: none;
  color: #FFFFFF;
}

#main span:hover {
  color: #D6A67F;
}

footer {
  width: 100%;
  height: auto;
  background-color: #000000;
  padding: 5rem 1rem;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  line-height: 32px;
  font-size: 14px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  text-align: center;
}

.fa {
  color: #ffffff;
  text-decoration: none;
}

form {
 max-width: 545px;
 margin: auto;
 font-family: 'Yantramanav', sans-serif;
 font-size: 18px;
 letter-spacing: 0.4rem;
 color: #4F4F4F;
 margin-bottom: 4rem;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    background-color: #F2F2F2;
    width: 100%; /* Full width */
    padding: 1.5rem; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 1rem; /* Add a top margin */
    margin-bottom: 2rem; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=tell], select, textarea {
    background-color: #F2F2F2;
    width: 100%; /* Full width */
    padding: 1.5rem; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 1rem; /* Add a top margin */
    margin-bottom: 2rem; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
    font-family: 'Yantramanav', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.20em;
    border: none;
    cursor: pointer;
    background-color: #000000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-align: center;
    padding: 1rem 2rem;
}

input[type=submit]:hover {
    color: white;
    background-color: #565656;
}

/* Add a background color and some padding around the form */
.container {
    padding: 20px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 769px) {
    #main span {
      display: none!important;
      }
    #main {
      display: none!important;
      }
    #main {
      padding:0;
    }
    #main img{
      width:0px;
    }
  }

@media screen and (max-width: 768px) {
    .main-nav {
      display: none!important;
    }

    #main {
      color: white;
    }

    .logo {
      margin-left: 1rem;
    }

    .logo img {
      width: 20%;
    }

    .flex-grid-seconds {
      display: block;
    .col-seconds.text {
      width: 100%;
      flex-grow: 1;
      }
    }

    .col-seconds.text {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .flex-grid-seconds {
     padding: 2rem;
    }

    footer {
      font-size: 10px;
    }
  }

 @media screen and (max-width: 1200px) {

  .flex-grid-seconds {
    display: block;
  .col-seconds.text {
    width: 100%;
    flex-grow: 1;
    }
  }

  .col-seconds.text {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
    padding: 0;
   }

   .col-seconds.image {
     width: 100%;
    }

  .col-seconds.text:first-child {
    background-color: #FAFAFA;
  }
 }
