* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FAFAFA;
}

header {
  width: 100%;
  height: auto;
  background-color: #000000;
}

/* Projects Gallery*/
.gallery {
  display:flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 10rem;
  padding-right: 10rem;
}


.gallery img {
  display: block;
  width: 100%;
  height: auto;
}

.item {
  width: 50%;
  height: 50%;
}

.column {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  bottom: 0;
  background-color: rgba(32, 32, 32, 0.7);
  color: #ffffff;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.20em;
  width: 100%;
  height: 3.5rem;
  transition: .5s ease;
  opacity:0;
  padding-left: 3rem;
  padding-top: 1.5rem;
  text-align: left;
  top: -7rem;
  left:0px;
  right:0px;
  position: relative;
}

/* When you mouse over the container, fade in the overlay title */
.column:hover .overlay {
  opacity: 1;
}

/* Grid Areas*/
.header { grid-area: header; }
.filters { grid-area: filters; }
.gallery { grid-area: gallery; }
.lets-talk { grid-area: lets-talk; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'filters'
    'gallery'
    'lets-talk'
    'footer';
}

/* Main Navigation */
.main-nav {
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.main-nav li:first-child {
  margin-right: auto;
}
.main-nav a {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  letter-spacing: 0.20em;
  color: #FFFFFF;
	display: block;
	text-decoration: none;
  margin-right: 4rem;
}

.main-nav li {
  list-style: none;
}

#main li {
  list-style: none;
}


#main {
  transition: margin-left .5s;
  padding: 1.6rem;
}

span {
  float: right;
  text-decoration: none;
  color: #FFFFFF;
}

span:hover {
  color: #D6A67F;
}

a:hover {
  color: #D6A67F;
}

#filters {
  display: flex;
  background-color: #FAFAFA;
  justify-content: center;
}
.logo {
  margin-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main a {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.20em;
  color: #FFFFFF;
	display: block;
	text-decoration: none;
  margin-right: 4rem;
}
/* Style projects filter buttons */
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  background: #000000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.20em;
  color: #FFFFFF;
  padding: 1rem 2rem;
  margin: 4rem 1rem 4rem 1rem;
  text-align: center;
}

/* Add a background color on mouse-over */
.btn:hover {
  background-color: #565656;
}

/* Add a background color to the active button */
.btn.active {
  background-color: #E8A569;
  color: white;
}

.lets-talk {
  background-color: #98AAB1;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.lets-talk-button:hover {
  color: white;
}

.contact-question {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
}

.lets-talk-button {
  border: none;
  outline: none;
  cursor: pointer;
  background: #000000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.20em;
  color: #FFFFFF;
  padding: 1rem 2rem;
  text-align: center;
  margin: 3rem;
  text-decoration: none;
}

.lets-talk-button:hover {
  background-color: #565656;
}

footer {
  width: 100%;
  height: auto;
  background-color: #000000;
  padding: 5rem 1rem;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  line-height: 32px;
  font-size: 14px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  text-align: center;
}

.fa {
  color: #ffffff;
  text-decoration: none;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  right: 0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  letter-spacing: 0.20em;
  color: #FFFFFF;
}

.sidenav a:hover {
  color: #D6A67F;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 769px) {
    span {
      display: none!important;
      }
    #main {
      display: none!important;
      }
    #main {
      padding:0;
    }
    #main img{
      width:0px;
    }
  }

@media screen and (max-width: 768px) {
    .main-nav {
      display: none!important;
    }
    .item {
      width: 100%;
      height: 100%;
    }
    #main {
      color: white;
    }
    .btn {
      font-size: 1rem;
      padding: 1rem 1rem;
      margin: 4rem 1rem 4rem 1rem;
    }

    .lets-talk-button {
      font-size: 1rem;
      padding: 1rem 1rem;
    }
    .column {
      padding-left: 0;
      padding-right: 0;
    }
    .gallery {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .overlay {
      top: -5rem;
      height: 2.5rem;
      left:0px;
      right:0px;
      position: relative;
      font-size: 1rem;
      line-height: 0;
    }
    .logo {
      margin-left: 1rem;
    }

    .logo img {
      width: 20%;
    }

    .contact-question {
      font-size: 16px;
    }
    footer {
      font-size: 10px;
    }
  }
