* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #FAFAFA;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: auto;
  background-color: #000000;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

section.lets-talk {
  background-color: #98AAB1;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h3 {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.5rem;
  color: #4A636D;
}

h4 {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.5rem;
  color: #4F4F4F;
  margin: 6rem auto 0 auto;
}

h5 {
  font-family: 'Yantramanav', sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.5rem;
  color: #202020;
  margin-top: 1rem;
}

p  {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 34px;
  text-align: left;
  letter-spacing: 0.1rem;
  color: #000000;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project-details{
  padding: 0.2rem 22rem 0 22rem;
}

.flex-grid-seconds {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 20rem 0 20rem;
}

.col-seconds.text {
  display: grid;
  margin: auto;
  margin-top: 0;
  height:auto;
  width: 50%;
  padding: 0 2rem;
}

img  {
  width: 100%;
  height: auto;
  margin: auto;
}

.photo {
  padding: 2rem 22rem 2rem 22rem;
}

.vertical-photo {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bottom-right, .bottom-left {
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  letter-spacing: 15%;
  color: #000000;
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.bottom-right {
  text-align: right;
}

.bottom-left {
  text-align: left;
}

/* Main Navigation */
.main-nav {
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(103, 113, 117, 0.15) 100%), rgba(17, 35, 48, 0.15);
  mix-blend-mode: normal;
}

.main-nav li:first-child {
  margin-right: auto;
}

.main-nav a {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  letter-spacing: 0.20em;
  color: #FFFFFF;
	display: block;
	text-decoration: none;
  margin-right: 4rem;
}

.main-nav li {
  list-style: none;
}

a:hover {
  color: #D6A67F;
}

.logo {
  margin-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main a {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.20em;
  color: #FFFFFF;
	display: block;
	text-decoration: none;
  margin-right: 4rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  right: 0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  letter-spacing: 0.20em;
  color: #FFFFFF;
}

.sidenav a:hover {
  color: #D6A67F;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.lets-talk-button:hover {
  color: white;
  background-color: #565656;
}

.contact-question {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
}

.lets-talk-button {
  border: none;
  outline: none;
  cursor: pointer;
  background: #000000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.20em;
  color: #FFFFFF;
  text-align: center;
  margin: 3rem;
  padding: 1rem 2rem;
  text-decoration: none;
}


#main li {
  list-style: none;
}

#main {
  transition: margin-left .5s;
  padding: 1.6rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(103, 113, 117, 0.15) 100%), rgba(17, 35, 48, 0.15);
  mix-blend-mode: normal;
}

#main span {
  float: right;
  text-decoration: none;
  color: #FFFFFF;
}

#main span:hover {
  color: #D6A67F;
}

footer {
  width: 100%;
  height: auto;
  background-color: #000000;
  padding: 5rem 1rem;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  line-height: 32px;
  font-size: 14px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  text-align: center;
}

.fa {
  color: #ffffff;
  text-decoration: none;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 768px) {
    #main span {
      display: none!important;
      }
    #main {
      display: none!important;
      }
    #main {
      padding:0;
    }
    #main img{
      width:0px;
    }
  }

@media screen and (max-width: 768px) {
    .main-nav {
      display: none!important;
    }

    #main {
      color: white;
    }

    .lets-talk-button {
      font-size: 1rem;
      padding: 1rem 1rem;
    }

    .logo {
      margin-left: 1rem;
    }

    .logo img {
      width: 20%;
    }

    .contact-question {
      font-size: 16px;
    }

    .flex-grid-seconds {
      display: block;
    .col-seconds.text {
      width: 100%;
      flex-grow: 1;
      }
    }

    .col-seconds.text {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .photo {
      padding: 2rem 2rem 2rem 2rem;
    }

    .project-details, .flex-grid-seconds {
     padding: 2rem;
    }

    footer {
      font-size: 10px;
    }
  }

 @media screen and (max-width: 1200px) {

  .flex-grid-seconds {
    display: block;
  .col-seconds.text {
    width: 100%;
    flex-grow: 1;
    }
  }

  .col-seconds.text {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   }

   .col-seconds.text {
    width: 100%;
    padding:0;
   }

   .bottom-right {
     text-align: center;
     margin-top:0;
     padding:0;
   }

   .bottom-left {
     text-align: center;
     margin-top:0;
     padding:0;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1200px) {

 .photo {
    padding: 2rem 20rem 2rem 20rem;
  }
}
